div(layout='row')
	md-switch(flex='20' ng-model='vm.paused' ng-change='vm.click(vm.paused)') {{vm.paused? 'Paused' : 'Play'}}
svg.vis(version="1.1" baseProfile="basic" x="0" y="0" viewBox="0 0 110 110" ng-init='traffic.setup()')
	rect.bg(width='110' height='110')
	g.g-main(transform='translate(5,5)')
		g.g-infrastructure
			g.g-lanes
				g.g-lane(ng-repeat='d in traffic.lanes track by d.id' ng-attr-class='{{d.direction}}')
					path.lane(ng-attr-d='{{::vm.place_lane(d)}}')
		g.g-cars
			rect.car(ng-repeat='car in traffic.cars track by car.id' ng-attr-transform='{{vm.place_car(car)}}' width='.8' height='.8' y='-.4' x='-.4' ng-attr-fill='{{car.color}}')

