@import "../bower_components/material-color/material-color";
@import (inline) "../node_modules/angular-material/angular-material.css";

div[vis-der]{
	margin-left: 20px;
}

svg.vis{
	width: 700px;
}

svg.vis, cum-chart{
	display: inline block;
}

.lane{
	stroke: @clr-grey-300;
	stroke-width: 1.4px;
	stroke-linecap: round;
}

canvas{
	// border:1px	solid #000000;
}

rect.bg{
	fill: none;
	// fill: @clr-blue-grey-200;
	// opacity: .10;
}

.mine{
	// border:1px	solid #000000;
	// width: 100px;
	// height: 100px;
	// background-color: red;
}


rect.car{
	fill-opacity: .8;
	stroke-width: .15px;
	rx: .08px;
	ry: .08px;
	// stroke: @clr-grey-100;
	stroke: white;
}

g.g-intersection{
	opacity: .9;
}

rect.intersection{
	fill: @clr-grey-400;
	rx: .2;
	ry: .2;
}

.signal rect{
	rx: .15;
	ry: .15;
	fill: @clr-pink-300;
}

.signal rect.on{
	fill: @clr-teal-300;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart path{
	stroke-width: 1px;
	fill: none;
}

.en {
	stroke: @clr-pink-500;
}

.flow{
	stroke: @clr-green-500;
}

.ex {
	stroke: @clr-light-blue-500;
}


// .up_down{
// 	fill: @clr-purple-500;
// }

// .left_right{
// 	fill: @clr-green-500;
// }