@import "../bower_components/material-color/material-color";
@import (inline) "../node_modules/angular-material/angular-material.css";

div[vis-der]{
	margin-left: 20px;
}

svg.vis{
	width: 700px;
}

svg.vis, cum-chart{
	display: inline block;
}

.lane{
	stroke: @clr-grey-200;
	stroke-width: 1.2px;
	stroke-linecap: round;
}

rect.bg{
	fill: @clr-blue-grey-200;
	opacity: .9;
}


rect.car{
	fill-opacity: .65;
	stroke-width: .15px;
	rx: .08px;
	ry: .08px;
	stroke: @clr-grey-900;
	stroke-opacity: .7;
}
